<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="false" />
  </system.web>
  
  

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="2300" />
    </connectionManagement>
  </system.net>

  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="403" />
      <error statusCode="403" responseMode="File" path="403.php" />
      <remove statusCode="404" />
      <error statusCode="404" responseMode="File" path="404.php" />
    </httpErrors>
    

    <rewrite>
      <rules>
        <rule name="Habbo Imaging Group Badges">
          <match url="^habbo-imaging/badge/([^/]+)" ignoreCase="false" />
          <action type="Rewrite" url="/habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Habbo Imaging Avatarimage 1">
          <match url="^habbo-imaging/avatar/([^/]+)" ignoreCase="false" />
          <action type="Rewrite" url="habbo-imaging/avatarimage.php?figure={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Habbo Imaging Avatar Image 2">
          <match url="^habbo-imaging/avatarimage/([^/]+)" ignoreCase="false" />
          <action type="Rewrite" url="habbo-imaging/avatarimage.php?username={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Habbo Imaging Avatar Head">
          <match url="^habbo-imaging/head/([^/]+)" ignoreCase="false" />
          <action type="Rewrite" url="habbo-imaging/head.php?figure={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Rule 1">
          <match url="^habbo-imaging/badge/([^/]+)" ignoreCase="false" />
          <action type="Rewrite" url="/habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
        </rule>

        <rule name="Rule 2">
          <match url="^habbo-imaging/avatar/([^/]+)" ignoreCase="false" />
          <action type="Rewrite" url="habbo-imaging/avatarimage.php?figure={R:1}" appendQueryString="false" />
        </rule>

        <rule name="Rule 3">
          <match url="^habbo-imaging/avatarimage/([^/]+)" ignoreCase="false" />
          <action type="Rewrite" url="habbo-imaging/avatarimage.php?username={R:1}" appendQueryString="false" />
        </rule>

        <rule name="Rule 4">
          <match url="^habbo-imaging/head/([^/]+)" ignoreCase="false" />
          <action type="Rewrite" url="habbo-imaging/head.php?figure={R:1}" appendQueryString="false" />
        </rule>

        <rule name="Rule 5">
          <match url="^gamedata/habbopages/chat/commands" ignoreCase="false" />
          <action type="Rewrite" url="gamedata/habbopages/chat/commands.txt" appendQueryString="false" />
        </rule>

        <rule name="Rule 6">
          <match url="^gamedata/habbopages/chat/options" ignoreCase="false" />
          <action type="Rewrite" url="gamedata/habbopages/chat/options.txt" appendQueryString="false" />
        </rule>

        <rule name="Rule 7">
          <match url="^gamedata/supersecret" ignoreCase="false" />
          <action type="Rewrite" url="gamedata/supersecret.php" appendQueryString="true" />
        </rule>

        <rule name="Rule 8">
          <match url="^gamedata/external_variables" ignoreCase="false" />
          <action type="Rewrite" url="gamedata/external_variables.txt" appendQueryString="false" />
        </rule>

        <rule name="Rule 9">
          <match url="^gamedata/external_flash_texts" ignoreCase="false" />
          <action type="Rewrite" url="gamedata/external_flash_texts.txt" appendQueryString="false" />
        </rule>

        <rule name="Rule 10">
          <match url="^gamedata/override/external_flash_override_texts" ignoreCase="false" />
          <action type="Rewrite" url="gamedata/override/external_flash_override_texts.php" appendQueryString="false" />
        </rule>

        <rule name="Rule 11">
          <match url="^gamedata/override/external_override_variables" ignoreCase="false" />
          <action type="Rewrite" url="gamedata/override/external_override_variables.txt" appendQueryString="false" />
        </rule>

        <rule name="Rule 12">
          <match url="^gamedata/figuredata" ignoreCase="false" />
          <action type="Rewrite" url="gamedata/figuredata.xml" appendQueryString="false" />
        </rule>

        <rule name="Rule 13">
          <match url="^gamedata/productdata" ignoreCase="false" />
          <action type="Rewrite" url="gamedata/productdata.txt" appendQueryString="false" />
        </rule>

        <rule name="Rule 14">
          <match url="^gamedata/furnidata_xml" ignoreCase="false" />
          <action type="Rewrite" url="gamedata/furnidata.xml" appendQueryString="false" />
        </rule>
        
        <rule name="Rule 15">
          <match url="^gamedata/habbopages/forums" ignoreCase="false" />
          <action type="Rewrite" url="gamedata/habbopages/forums.txt" appendQueryString="false" />
        </rule>

		<rule name="API - Default">
		  <match url="^api/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
		  <action type="Rewrite" url="api.php?request={R:1}" appendQueryString="false" />
		</rule>	
		
		<rule name="API - Rooms">
		  <match url="^api/room/([0-9_-]+)(|/)$" ignoreCase="false" />
		  <action type="Rewrite" url="api.php?request=room&amp;room_id={R:1}" appendQueryString="false" />
		</rule>	
		
		<rule name="API - Groups">
		  <match url="^api/group/([0-9_-]+)(|/)$" ignoreCase="false" />
		  <action type="Rewrite" url="api.php?request=group&amp;group_id={R:1}" appendQueryString="false" />
		</rule>

		<rule name="API - Users">
		  <match url="^api/user/([a-zA-Z]+)/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="true" />
		  <action type="Rewrite" url="api.php?request=user&amp;search_type={R:1}&amp;value={R:2}" appendQueryString="false" />
		</rule>		

		<rule name="API - Random Users with limit">
		  <match url="^api/users/([0-9]+)(|/)$" ignoreCase="false" />
		  <action type="Rewrite" url="api.php?request=users&amp;amount={R:1}" appendQueryString="false" />
		</rule>	
		
        <rule name="HabboPages - Dynamic">
          <match url="^gamedata/habbopages/([0-9a-zA-Z]+)(|/)$" ignoreCase="false" />
          <action type="Rewrite" url="gamedata/habbopages/{R:1}.txt" appendQueryString="false" />
        </rule>
                <rule name="Regola importata 1">
                    <match url="^registrazione(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/registrazione.php" />
                </rule>
                <rule name="Regola importata 2">
                    <match url="^home(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/home.php" />
                </rule>
                <rule name="Regola importata 3">
                    <match url="^comunidade(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/comunidade.php" />
                </rule>
                <rule name="Regola importata 4">
                    <match url="^staff(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/staff.php" />
                </rule>
                <rule name="Regola importata 5">
                    <match url="^hall(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/hall.php" />
                </rule>
                <rule name="Regola importata 6">
                    <match url="^client(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/client.php" />
                </rule>
                <rule name="Regola importata 7">
                    <match url="^clientutils(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/client.php" />
                </rule>
                <rule name="Regola importata 8">
                    <match url="^flash_client_error(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/client.php" />
                </rule>
                <rule name="Regola importata 9">
                    <match url="^me(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/me.php" />
                </rule>
                <rule name="Regola importata 10">
                    <match url="^register(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/register.php" />
                </rule>
                <rule name="Regola importata 11">
                    <match url="^cacheCheck(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/cacheCheck.php" />
                </rule>
                <rule name="Regola importata 12">
                    <match url="^account/disconnected(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?logout=true" appendQueryString="false" />
                </rule>
                <rule name="Regola importata 13">
                    <match url="^logout/(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?logout=true" appendQueryString="false" />
                </rule>
                <rule name="Regola importata 14">
                    <match url="^Badgedata/badge/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regola importata 15">
                    <match url="^habbo-imaging/badge/([^/]+)(|/).gif$" ignoreCase="false" />
                    <action type="Rewrite" url="./habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regola importata 16">
                    <match url="^habbo-imaging/badge/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regola importata 17">
                    <match url="^inc/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php" />
                </rule>
                <rule name="Regola importata 18">
                    <match url="^habbo-imaging/avatarimage(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/habbo-imaging/avatar.php" />
                </rule>
				<rule name="Regola importata 19">
                    <match url="^news(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/news.php" />
                </rule>
				<rule name="Regola importata 20">
                    <match url="^impostazioni(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/impostazioni.php" />
                </rule>
				<rule name="Regola importata 21">
                    <match url="^staff(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/staff.php" />
                </rule>
				<rule name="Regola importata 22">
                    <match url="^terminiecondizioni(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/terminiecondizioni.php" />
                </rule>
				<rule name="Regola importata 23">
                    <match url="^home(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/home.php" />
                </rule>
				<rule name="Regola importata 24">
                    <match url="^community(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/community.php" />
                </rule>
				<rule name="Regola importata 25">
                    <match url="^altristaff(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/altristaff.php" />
                </rule>
				<rule name="Regola importata 26">
                    <match url="^logout(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/logout.php" />
                </rule>
				<rule name="Regola importata 27">
                    <match url="^safety(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/safety.php" />
                </rule>
				<rule name="Regola importata 28">
                    <match url="^faq(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/faq.php" />
                </rule>
				<rule name="Regola importata 29">
                    <match url="^shop(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/shop.php" />
                </rule>
				<rule name="Regola importata 30">
                    <match url="^index(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php" />
                </rule>
				<rule name="Regola importata 31">
                    <match url="^registro(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/registro.php" />
                </rule>
      </rules>
    </rewrite>
        <handlers>
            <clear />
            <add name="PHP54_via_FastCGI" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v5.4\php-cgi.exe" resourceType="Either" />
            <add name="PHP_via_FastCGI" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v5.6\php-cgi.exe" resourceType="Either" />
            <add name="AXD-ISAPI-4.0_32bit" path="*.axd" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="PageHandlerFactory-ISAPI-4.0_32bit" path="*.aspx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="SimpleHandlerFactory-ISAPI-4.0_32bit" path="*.ashx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="WebServiceHandlerFactory-ISAPI-4.0_32bit" path="*.asmx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_32bit" path="*.rem" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_32bit" path="*.soap" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="svc-ISAPI-4.0_32bit" path="*.svc" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="rules-ISAPI-4.0_32bit" path="*.rules" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="xoml-ISAPI-4.0_32bit" path="*.xoml" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="xamlx-ISAPI-4.0_32bit" path="*.xamlx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="aspq-ISAPI-4.0_32bit" path="*.aspq" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="cshtm-ISAPI-4.0_32bit" path="*.cshtm" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="cshtml-ISAPI-4.0_32bit" path="*.cshtml" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="vbhtm-ISAPI-4.0_32bit" path="*.vbhtm" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="vbhtml-ISAPI-4.0_32bit" path="*.vbhtml" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="AXD-ISAPI-4.0_64bit" path="*.axd" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="PageHandlerFactory-ISAPI-4.0_64bit" path="*.aspx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="SimpleHandlerFactory-ISAPI-4.0_64bit" path="*.ashx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="WebServiceHandlerFactory-ISAPI-4.0_64bit" path="*.asmx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_64bit" path="*.rem" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_64bit" path="*.soap" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="svc-ISAPI-4.0_64bit" path="*.svc" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="rules-ISAPI-4.0_64bit" path="*.rules" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="xoml-ISAPI-4.0_64bit" path="*.xoml" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="xamlx-ISAPI-4.0_64bit" path="*.xamlx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="aspq-ISAPI-4.0_64bit" path="*.aspq" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="cshtm-ISAPI-4.0_64bit" path="*.cshtm" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="cshtml-ISAPI-4.0_64bit" path="*.cshtml" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="vbhtm-ISAPI-4.0_64bit" path="*.vbhtm" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="vbhtml-ISAPI-4.0_64bit" path="*.vbhtml" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="TraceHandler-Integrated-4.0" path="trace.axd" verb="GET,HEAD,POST,DEBUG" type="System.Web.Handlers.TraceHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="WebAdminHandler-Integrated-4.0" path="WebAdmin.axd" verb="GET,DEBUG" type="System.Web.Handlers.WebAdminHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="AssemblyResourceLoader-Integrated-4.0" path="WebResource.axd" verb="GET,DEBUG" type="System.Web.Handlers.AssemblyResourceLoader" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="PageHandlerFactory-Integrated-4.0" path="*.aspx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.PageHandlerFactory" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="SimpleHandlerFactory-Integrated-4.0" path="*.ashx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.SimpleHandlerFactory" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="WebServiceHandlerFactory-Integrated-4.0" path="*.asmx" verb="GET,HEAD,POST,DEBUG" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="HttpRemotingHandlerFactory-rem-Integrated-4.0" path="*.rem" verb="GET,HEAD,POST,DEBUG" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="HttpRemotingHandlerFactory-soap-Integrated-4.0" path="*.soap" verb="GET,HEAD,POST,DEBUG" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="svc-Integrated-4.0" path="*.svc" verb="*" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="rules-Integrated-4.0" path="*.rules" verb="*" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="xoml-Integrated-4.0" path="*.xoml" verb="*" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="xamlx-Integrated-4.0" path="*.xamlx" verb="GET,HEAD,POST,DEBUG" type="System.Xaml.Hosting.XamlHttpHandlerFactory, System.Xaml.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="aspq-Integrated-4.0" path="*.aspq" verb="GET,HEAD,POST,DEBUG" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="cshtm-Integrated-4.0" path="*.cshtm" verb="GET,HEAD,POST,DEBUG" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="cshtml-Integrated-4.0" path="*.cshtml" verb="GET,HEAD,POST,DEBUG" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="vbhtm-Integrated-4.0" path="*.vbhtm" verb="GET,HEAD,POST,DEBUG" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="vbhtml-Integrated-4.0" path="*.vbhtml" verb="GET,HEAD,POST,DEBUG" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="ScriptHandlerFactoryAppServices-Integrated-4.0" path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="ScriptResourceIntegrated-4.0" path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="PHP55_via_FastCGI" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v5.5\php-cgi.exe" resourceType="Either" />
            <add name="PHP53_via_FastCGI" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v5.3\php-cgi.exe" resourceType="Either" />
            <add name="CGI-exe" path="*.exe" verb="*" modules="CgiModule" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
            <add name="TRACEVerbHandler" path="*" verb="TRACE" modules="ProtocolSupportModule" requireAccess="None" />
            <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" modules="ProtocolSupportModule" requireAccess="None" />
            <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
        </handlers>
  </system.webServer>
</configuration>